body{
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
    border: 1px solid black;
    
}
main{
    display: flex;
    flex-direction: row;
    flex: auto
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: brown;
    border-bottom: 1px solid black;
}
h1, h2{
    border-bottom: 1px solid black;
}
    A:hover { COLOR: yellow; TEXT-DECORATION: none; font-weight: none }