body{
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
    border: 2px solid black;
    margin: 30px 30px 30px 30px
    padding: 20px 20px 20px 20px;
    
}
main{
    display: flex;
    flex-direction: row;
    flex: auto
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: brown;
    border-bottom: 1px solid black;
}
h3{
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}
h1, h2{
    text-decoration: underline;
}
    A:hover { COLOR: yellow; TEXT-DECORATION: none; font-weight: none }